<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


<!-- <div style="width: 100%; height: 100%; position: relative; background: white"> -->
    <div style="width: 256px; height: 820px; left: 0px; top: 150px; position: absolute; border-right: 4px black solid">
        <div style="width: 256px; height: 70px; left: 0px; top: 50px; position: absolute">
            <div style="width: 256px; height: 50px; left: 0px; top: 20px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 150px; height: 50px; left: 85px; top: 20px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Rating</div>
            <div style="width: 40px; height: 40px; left: 40px; top: 25px; position: absolute; background: white; border-radius: 10px; border: 2px black solid"></div>
        </div>
        <div style="width: 256px; height: 70px; left: 0px; top: 120px; position: absolute">
            <div style="width: 256px; height: 50px; left: 0px; top: 20px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 150px; height: 50px; left: 73px; top: 20px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Price</div>
            <div style="width: 40px; height: 40px; left: 40px; top: 25px; position: absolute; background: white; border-radius: 10px; border: 2px black solid"></div>
            <div style="width: 0; height: 10px; left: 226px; top: 20px; position: absolute; border-left: 11.5px solid transparent; border-right: 11.5px solid transparent; border-bottom: 23px solid black;"></div>

        </div>
        <div style="width: 256px; height: 70px; left: 0px; top: 190px; position: absolute">
            <div style="width: 256px; height: 50px; left: 0px; top: 20px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 150px; height: 50px; left: 74px; top: 20px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Price</div>
            <div style="width: 40px; height: 40px; left: 40px; top: 25px; position: absolute; background: white; border-radius: 10px; border: 2px black solid"></div>
<div style="width: 0; height: 10px; left: 226px; top: 35px; position: absolute; border-left: 11.5px solid transparent; border-right: 11.5px solid transparent; border-top: 23px solid black;"></div>


        </div>
        <div style="width: 256px; height: 70px; left: 0px; top: 260px; position: absolute">
            <div style="width: 256px; height: 50px; left: 0px; top: 20px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 150px; height: 50px; left: 85px; top: 20px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Health</div>
            <div style="width: 40px; height: 40px; left: 40px; top: 25px; position: absolute; background: white; border-radius: 10px; border: 2px black solid"></div>
        </div>
        <div style="width: 256px; height: 70px; left: 0px; top: 330px; position: absolute">
            <div style="width: 256px; height: 50px; left: 0px; top: 20px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 150px; height: 50px; left: 91px; top: 20px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Budget</div>
            <div style="width: 40px; height: 40px; left: 40px; top: 25px; position: absolute; background: white; border-radius: 10px; border: 2px black solid"></div>
        </div>
        <div style="width: 256px; height: 50px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 230px; height: 48px; left: 11px; top: 2px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">sort by</div>
    </div>
    <div style="width: 1440px; height: 54px; left: 0px; top: 970px; position: absolute; background: #003865"></div>
    <div style="width: 1440px; height: 150px; left: 0px; top: 0px; position: absolute; background: #003865; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
    <div style="width: 1440px; height: 150px; left: 0px; top: 0px; position: absolute; background: #003865; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
    <div style="width: 1440px; height: 150px; left: 0px; top: 0px; position: absolute; background: #003865; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
    <div style="width: 418px; height: 58px; left: 419px; top: 48px; position: absolute; background: #F6F6F6; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border: 1px #FCFCFC solid"></div>
    <!-- <div style="width: 128px; height: 43px; left: 460px; top: 55px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Search Bar</div> -->
    <div style="width: 78px; height: 58px; left: 837px; top: 48px; position: absolute; background: #319CF2; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border: 1px white solid"></div>
<!--     <div style="width: 42px; height: 42px; left: 857px; top: 58px; position: absolute">
        <div style="width: 31.50px; height: 31.50px; left: 5.25px; top: 5.25px; position: absolute; background: black"></div>
    </div> -->
    <div style="width: 42px; height: 42px; left: 857px; top: 58px; position: absolute">
    <!-- Anchor tag wrapping the search icon -->
    <a href="search.html" style="text-decoration: none; color: inherit; display: inline-block; width: 100%; height: 100%;">
        <i class="fas fa-search" style="font-size:31.50px; position: absolute; left: 5.25px; top: 5.25px;"></i>
    </a>
</div>

    <div style="padding: 10px; left: 43px; top: 45px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: white; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">DINING CHOICES</div>
    </div>
    <a href = "profile.html">
<div style="width: 16px; height: 16px; left: 1005px; top: 90px; position: absolute">
    <!-- Font Awesome user icon -->
    <i class="fas fa-user" style="font-size:58px; position: absolute; left: -29px; top: -42px; color: black;"></i>
</div>
</a>

    <div style="width: 1162px; height: 786px; left: 268px; top: 166px; position: absolute; background: white; box-shadow: 0px 3.400146245956421px 3.400146245956421px rgba(0, 0, 0, 0.25); border: 0.85px rgba(0, 0, 0, 0.20) solid"></div>
    <div style="left: 293.50px; top: 192.35px; position: absolute; color: black; font-size: 34px; font-family: Inter; font-weight: 700; word-wrap: break-word">Recommendations:</div>
    <div style="width: 25.50px; height: 25.50px; left: 708.32px; top: 365.76px; position: absolute">
        <div style="width: 11.67px; height: 8.73px; left: 6.92px; top: 8.50px; position: absolute; background: black"></div>
    </div>
    <div style="width: 542.32px; height: 192.96px; left: 293.50px; top: 253.55px; position: absolute">
        <div style="width: 542.32px; height: 192.96px; left: 0px; top: 0px; position: absolute">
            <div style="width: 542.32px; height: 192.96px; left: 0px; top: 0px; position: absolute; background: #F7F7F7; box-shadow: 0px 3.400146245956421px 3.400146245956421px rgba(0, 0, 0, 0.25)"></div>
            <img style="width: 181px; height: 181px; left: 5px; top: 6px; position: absolute; border-radius: 16.15px" src="https://s3-media0.fl.yelpcdn.com/bphoto/fxveHe1NkuJNgdYzcCONjw/348s.jpg" />
            <div style="width: 90.15px; height: 17px; left: 306.86px; top: 62.05px; position: absolute">
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 24px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 0px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 48px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 72px; top: 0;"></i>
            </div>
            <div style="left: 244.81px; top: 60.35px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">rating:</div>
            <div style="left: 244.81px; top: 86.70px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">price:</div>
            <div style="left: 244.81px; top: 113.90px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Vegetarian friendly:</div>
            <div style="left: 243.11px; top: 141.96px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Operating status:   open</div>
            <div style="left: 310.26px; top: 86.70px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: bold;">$</div>
            <div style="left: 330.66px; top: 86.70px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: bold;">$</div>

            <div style="left: 245.66px; top: 12.75px; position: absolute; color: black; font-size: 27.20px; font-family: Inter; font-weight: 700; word-wrap: break-word">KOBA Korean BBQ</div>
            <div style="width: 27.20px; height: 27.20px; padding: 2.27px; left: 423.32px; top: 110.50px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 22.67px; height: 22.67px; position: relative"> YES
                </div>
            </div>
        </div>
        <div style="width: 48.45px; height: 48.45px; left: 476.02px; top: 141.96px; position: absolute">
            <div style="width: 36.46px; height: 35.33px; left: 6.56px; top: 6.56px; position: absolute">
                <div style="width: 36.46px; height: 35.33px; left: 0px; top: 0px; position: absolute">
    <!-- Font Awesome thumb-up icon -->
    <i class="fas fa-thumbs-up" style="font-size:35px; color: black;"></i>
</div>

            </div>
        </div>
    </div>
    <div style="width: 542.32px; height: 192.96px; left: 857.93px; top: 253.55px; position: absolute; background: #F7F7F7; box-shadow: 0px 3.400146245956421px 3.400146245956421px rgba(0, 0, 0, 0.25)"></div>
    <div style="width: 78.93px; height: 17px; left: 1164.79px; top: 315.61px; position: absolute">
        <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 24px; top: 0;"></i>
        <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 0px; top: 0;"></i>
        <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 48px; top: 0;"></i>
        <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 72px; top: 0;"></i>
    </div>
    <div style="left: 1102.74px; top: 313.91px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">rating:</div>
    <div style="left: 1102.74px; top: 340.26px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">price:</div>
    <div style="left: 1102.74px; top: 367.46px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Vegetarian friendly:</div>
    <div style="left: 1103.59px; top: 395.51px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Operating status:   open</div>
    <div style="left: 1168.19px; top: 340.26px; position: absolute; color: black; font-size: 20px; font-family: Arial, sans-serif; font-weight: bold;">
    $
</div>

    <!-- <div style="width: 10.20px; height: 20.40px; left: 1168.19px; top: 340.26px; position: absolute; background: black"></div> -->
    <div style="left: 1103.59px; top: 266.30px; position: absolute; color: black; font-size: 27.20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Junzi Kitchen</div>
    <div style="width: 48.45px; height: 48.45px; left: 1340.75px; top: 395.51px; position: absolute">
        <div style="width: 36.46px; height: 35.33px; left: 6.56px; top: 6.56px; position: absolute">
 <div style="width: 36.46px; height: 35.33px; left: 0px; top: 0px; position: absolute">
    <!-- Font Awesome thumb-up icon -->
    <i class="fas fa-thumbs-up" style="font-size:35px; color: black;"></i>
</div>

        </div>
    </div>
    <div style="width: 27.20px; height: 27.20px; padding: 2.27px; left: 1281.24px; top: 364.06px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 22.67px; height: 22.67px; position: relative"> NO
        </div>
    </div>
    <div style="width: 542.32px; height: 192.96px; left: 294px; top: 476px; position: absolute">
        <div style="width: 542.32px; height: 192.96px; left: 0px; top: 0px; position: absolute">
            <div style="width: 542.32px; height: 192.96px; left: 0px; top: 0px; position: absolute; background: #F7F7F7; box-shadow: 0px 3.400146245956421px 3.400146245956421px rgba(0, 0, 0, 0.25)"></div>
            <div style="width: 78.93px; height: 17px; left: 306.86px; top: 62.05px; position: absolute">
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 24px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 0px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 48px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 72px; top: 0;"></i>
            </div>
            <div style="left: 244.81px; top: 60.35px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">rating:</div>
            <div style="left: 244.81px; top: 86.70px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">price:</div>
            <div style="left: 244.81px; top: 113.90px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Vegetarian friendly:</div>
            <div style="left: 243.11px; top: 141.96px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Operating status:   open</div>
            <div style="left: 310.26px; top: 86.70px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: bold;">$</div>
            <div style="left: 330.66px; top: 86.70px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: bold;">$</div>
            <div style="left: 245.66px; top: 12.75px; position: absolute; color: black; font-size: 27.20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Milano Market Wes...</div>
            <div style="width: 27.20px; height: 27.20px; padding: 2.27px; left: 423.32px; top: 110.50px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 22.67px; height: 22.67px; position: relative"> YES
                </div>
            </div>
        </div>
        <div style="width: 48.45px; height: 48.45px; left: 476.02px; top: 141.96px; position: absolute">
            <div style="width: 36.46px; height: 35.33px; left: 6.56px; top: 6.56px; position: absolute">
             <div style="width: 36.46px; height: 35.33px; left: 0px; top: 0px; position: absolute">
                <!-- Font Awesome thumb-up icon -->
                <i class="fas fa-thumbs-up" style="font-size:35px; color: black;"></i>
            </div>

            </div>
        </div>
        <img style="width: 181px; height: 181px; left: 5px; top: 6px; position: absolute; border-radius: 16px" src="https://milanomarketwestside.com/wp-content/uploads/2020/02/Milano_Logo_Opt.png" />
    </div>
    <div style="width: 542.32px; height: 192.96px; left: 858.42px; top: 476px; position: absolute; background: #F7F7F7; box-shadow: 0px 3.400146245956421px 3.400146245956421px rgba(0, 0, 0, 0.25)"></div>
    <div style="width: 286.46px; height: 177.66px; left: 1098px; top: 491px; position: absolute">
        <div style="width: 90.15px; height: 17px; left: 62.05px; top: 49.30px; position: absolute">
        <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 24px; top: 0;"></i>
        <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 0px; top: 0;"></i>
        <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 48px; top: 0;"></i>
        <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 72px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 24px; top: 0;"></i>

        </div>
        <div style="left: 0px; top: 47.60px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">rating:</div>
        <div style="left: 0px; top: 73.95px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">price:</div>
        <div style="left: 0px; top: 101.15px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Vegetarian friendly:</div>
        <div style="left: 0.85px; top: 129.21px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Operating status:   open</div>

  
        <div style="left: 0.85px; top: 0px; position: absolute; color: black; font-size: 27.20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Sapps</div>
        <div style="width: 48.45px; height: 48.45px; left: 238.01px; top: 129.21px; position: absolute">
            <div style="width: 36.46px; height: 35.33px; left: 6.56px; top: 6.56px; position: absolute">
<div style="width: 36.46px; height: 35.33px; left: 0px; top: 0px; position: absolute">
    <!-- Font Awesome thumb-up icon -->
    <i class="fas fa-thumbs-up" style="font-size:35px; color: black;"></i>
</div>

            </div>
        </div>
        <div style="width: 27.20px; height: 27.20px; padding: 2.27px; left: 178.51px; top: 97.75px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 22.67px; height: 22.67px; position: relative"> YES
            </div>
        </div>
    </div>
    <img style="width: 181px; height: 181px; left: 863px; top: 259px; position: absolute; border-radius: 16px" src="https://images.squarespace-cdn.com/content/v1/538acfa1e4b01f1c805e1329/a965efdd-c08e-4789-b229-04d1ce476fb5/Image+from+iOS.jpg" />
    <img style="width: 181px; height: 181px; left: 863px; top: 482px; position: absolute; border-radius: 16px" src="https://static1.squarespace.com/static/594c01ce579fb3768887d2a2/t/596e3a03914e6b7697df41b8/1691782342106/" />
    <div style="left: 1203px; top: 565px; position: absolute; color: black; font-size: 20px; font-family: Arial, sans-serif; font-weight: bold;">
    $
</div>

    <div style="width: 542.32px; height: 192.96px; left: 293px; top: 701px; position: absolute">
        <div style="width: 542.32px; height: 192.96px; left: 0px; top: 0px; position: absolute">
            <div style="width: 542.32px; height: 192.96px; left: 0px; top: 0px; position: absolute; background: #F7F7F7; box-shadow: 0px 3.400146245956421px 3.400146245956421px rgba(0, 0, 0, 0.25)"></div>
          <div style="width: 58.53px; height: 17px; left: 306.86px; top: 62.05px; position: absolute">
                   <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 24px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 0px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 48px; top: 0;"></i>
                <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 72px; top: 0;"></i>
            </div>
            <div style="left: 244.81px; top: 60.35px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">rating:</div>
            <div style="left: 244.81px; top: 86.70px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">price:</div>
            <div style="left: 244.81px; top: 113.90px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Vegetarian friendly:</div>
            <div style="left: 243.11px; top: 141.96px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Operating status:   open</div>
            <div style="left: 310.26px; top: 86.70px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: bold;">$</div>
            <div style="left: 330.66px; top: 86.70px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: bold;">$</div>

            <div style="left: 245.66px; top: 12.75px; position: absolute; color: black; font-size: 27.20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Symposium</div>
            <div style="width: 27.20px; height: 27.20px; padding: 2.27px; left: 423.32px; top: 110.50px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 22.67px; height: 22.67px; position: relative">YES
                </div>
            </div>
        </div>
        <div style="width: 48.45px; height: 48.45px; left: 476.02px; top: 141.96px; position: absolute">
            <div style="width: 36.46px; height: 35.33px; left: 6.56px; top: 6.56px; position: absolute">
 <div style="width: 36.46px; height: 35.33px; left: 0px; top: 0px; position: absolute">
    <!-- Font Awesome thumb-up icon -->
    <i class="fas fa-thumbs-up" style="font-size:35px; color: black;"></i>
</div>

            </div>
        </div>
        <img style="width: 181px; height: 181px; left: 5px; top: 6px; position: absolute; border-radius: 16px" src="https://duyt4h9nfnj50.cloudfront.net/resized/1524570127799-w2880-1a.jpg" />
        <div style="width: 8.54px; height: 17px; left: 368px; top: 62px; position: absolute; border: 0.85px black solid"></div>
    </div>
    <div style="width: 542.32px; height: 192.96px; left: 857.42px; top: 701px; position: absolute; background: #F7F7F7; box-shadow: 0px 3.400146245956421px 3.400146245956421px rgba(0, 0, 0, 0.25)"></div>
    <div style="width: 286.46px; height: 177.66px; left: 1097px; top: 716px; position: absolute">
        <div style="width: 58.53px; height: 17px; left: 62.05px; top: 49.30px; position: absolute">
            <i class="far fa-star" style="font-size:20px; color:black; position: absolute; left: 24px; top: 0;"></i>
          


        </div>
        <div style="left: 0px; top: 47.60px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">rating:</div>
        <div style="left: 0px; top: 73.95px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">price:</div>
        <div style="left: 0px; top: 101.15px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Vegetarian friendly:</div>
        <div style="left: 0.85px; top: 129.21px; position: absolute; color: black; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Operating status:   open</div>
        <div style="left: 0.85px; top: 0px; position: absolute; color: black; font-size: 27.20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Le Monde</div>
        <div style="width: 48.45px; height: 48.45px; left: 238.01px; top: 129.21px; position: absolute">
            <div style="width: 36.46px; height: 35.33px; left: 6.56px; top: 6.56px; position: absolute">
                <div style="width: 36.46px; height: 35.33px; left: 0px; top: 0px; position: absolute">
    <!-- Font Awesome thumb-up icon -->
    <i class="fas fa-thumbs-up" style="font-size:35px; color: black;"></i>
</div>

            </div>
        </div>
        <div style="width: 27.20px; height: 27.20px; padding: 2.27px; left: 178.51px; top: 97.75px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 22.67px; height: 22.67px; position: relative">
                NO
            </div>
        </div>
    </div>
    <div style="left: 1202px; top: 790px; position: absolute; color: black; font-size: 20px; font-family: Arial, sans-serif; font-weight: bold;">
    $
</div>

    <img style="width: 181px; height: 181px; left: 863px; top: 707px; position: absolute; border-radius: 16px" src="https://images.otstatic.com/prod/25900454/1/huge.jpg" />
</div>
</body>
</html>